{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "parser": "flow", "semi": false }
    ],
    "semi": 0,
    "no-undef": 0,
    "no-var": 2,
    "no-console": 2,
    "no-alert": 2,
    "no-useless-rename": 2,
    "prefer-const": 2,
    "prefer-spread": 2
  }
}
